@import url('https://fonts.googleapis.com/css?family=Spicy+Rice&display=swap');
*{
    font-family: 'Spicy Rice', cursive;
}
.visible{
    display: block;
}
main {
    margin: 20px auto;
    border: 3px solid rgb(119, 119, 119);
    border-radius: 20px;
    box-shadow: 10px -5px 8px #888888;
}
section{
    display: none;
    margin: 20px;
    box-shadow: 10px 10px 8px #888888;
    border: 1px solid black;
}