
header{
    background-color: beige;
    border-bottom: 2px dotted purple;
    border-radius: 0 0 10% 10%;
}
h1{
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
    font-family: 'Spicy Rice', cursive;
}
#photo-template{
    display: none;
}
.topButtons{
    margin: 0 auto;
    display: flex;
}

section h2{
    text-align: center;
    margin: 20px 0;
    font-size: 26px;
    font-weight: bold;
}
section p{
    text-align: center;
    margin-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
footer{
    text-align: center;
    font-size: 26px;
    font-family: 'Spicy Rice', cursive;
    text-decoration: underline;
    margin: 50px 0;
}
select{
    display: block;
    margin: 10px auto;
    font-size: 22px;
    background-color: rgb(126, 73, 126);
    color: aqua;
    padding: 10px;
    border: 3px solid rgb(37, 46, 33);
    border-radius: 10px;
    text-transform: capitalize;
}
button{
    display: inline-block;
    margin: 20px auto;
    font-size: 22px;
    background-color: rgb(173, 38, 173);
    color: rgb(23, 180, 133);
    padding: 10px;
    border: 3px solid rgb(37, 46, 33);
    border-radius: 10px;
    text-transform: capitalize;
}
section img {
    display:block;
    margin: 0 auto;
}

